.app {
  display: flex; /* Размещаем элементы внутри в строку (горизонтально) */
  flex-direction: column; /* Размещаем элементы внутри в столбец (вертикально) */
  align-items: center; /* Выравниваем по центру по горизонтали */
}