/* Общие стили для .appHeader */
.appHeader {
    display: flex;
    margin: 16px auto;
    
    align-items: center;
   justify-content: center;
   background: var(--interface-modal-bg, #1C1C21);

/* card/x-large */
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 24px 32px 0px rgba(0, 0, 0, 0.04);

  }
  

  

  
  /* Медиа-запрос для больших экранов (например, ширина больше 1280px) */
  @media (min-width: 1280px) {
    .appHeader {
      width: 100%
    }
  }
  